SetEnv PHP_VER 7_0
SetEnv REGISTER_GLOBALS 0

# Don't show content of directories without index
IndexIgnore * 

# Redirect to pretty error pages
ErrorDocument 404 https://liviabottoni.eu/404.html
ErrorDocument 403 https://liviabottoni.eu/403.html

# enable the Rewrite capabilities
RewriteEngine On

# if connection is not HTTPS
RewriteCond %{HTTPS} !=on
RewriteCond %{SERVER_PORT} 80
# redirect to https keeping rest of URL
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI}

# Don't allow access to directories without index
Options -Indexes 
